{% extends 'bases/base.html' %}
{% load static %}
{% block title %} Clients {% endblock title %}
{% block main_content %}
    <!-- Container -->
    <div class="container-fluid mt-xl-50 mt-sm-30 mt-15">
        <!-- Row -->
        <div class="row">
            <div class="col-xl-12">


                <section class="hk-sec-wrapper">
                    <h5 class="hk-sec-title">All Clients</h5>
                    <div class="row">
                        <div class="col-sm">
                            <div class="table-wrap">
                                <div class="table-responsive">
                                    <table class="table table-striped mb-0">
                                        <thead class="thead-active">
                                        <tr>
                                            <th>Client Name</th>
                                            <th>Email Address</th>
                                            <th>Phone Number</th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for client in clients %}
                                        <tr>
                                            <td>{{ client.client_name }}</td>
                                            <td>
                                                {{ client.email_address }}
                                            </td>
                                            <td>{{ client.phone_number }}</td>
                                            <td>
                                                <a href="#" class="mr-25" data-toggle="tooltip"
                                                   data-original-title="Edit"> <i class="icon-pencil"></i> </a>
                                                <a href="#" data-toggle="tooltip"
                                                   data-original-title="Delete"> <i class="icon-trash txt-danger"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <!-- /Row -->
    </div>
    <!-- /Container -->
{% endblock main_content %}